# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wishes_development

# Redis (для Sidekiq)
REDIS_URL=redis://localhost:6379/1

# Telegram Config
TELEGRAM_TOKEN=your_telegram_bot_token

# MinIO/S3 Config (для ActiveStorage)
S3_ENDPOINT=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1

# Rails Secret Key (for production, generated with `rails secret`)
SECRET_KEY_BASE=your_secret_key_base

# Sentry Backend Configuration
SENTRY_BACKEND_DSN=
